<!DOCTYPE html>
<html lang="en">
<body>
<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>


<table>
    <tr>
        <td>Name</td>
        <td>E-Mail</td>
        <td>Category</td>
        <td>Credit Card</td>
        <td>CVV</td>
        <td>Date</td>
    </tr>
    {{#purchases}}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.eMail}}</td>
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{purchaseTime}}</td>
    </tr>
    {{/purchases}}
</table>
</body>
</html>